<!-- EVENT BINDING -->

<!-- <button (click)="onAddCart()">Add to cart</button>
<br><br>
<p>{{msg}}</p> -->

<!-- <input type="text" name="" id="" value="myinputtext" (click)="onInputClick($event)"> -->

<!-- <button value="Laptop" (click)="onAddCart($event)">Laptop</button>
<button value="TV" (click)="onAddCart($event)">TV</button>
<button value="Washing machine" (click)="onAddCart($event)">Washing machine</button>

<p>{{msg}}</p> -->


<input #inputInfo type="text" name="" id="" value="RAVI">&nbsp; &nbsp;
<button (click)="getInputInfo(inputInfo)">Get Info</button>